services:
  qbt:
    image: qbittorrentofficial/qbittorrent-nox
    restart: always
    user: 33:33
    environment:
      - TZ=${TZ:-UTC}
      - QBT_EULA=${QBT_EULA:-}
      - QBT_WEBUI_PORT=${QBT_WEBUI_PORT:-8080}
      - QBT_TORRENTING_PORT=${QBT_LISTENPORT:-6881}
    volumes:
      - config:/config/qBittorrent/config
      - data:/config/qBittorrent/data
      - ${DATA_PATH:-../data}:/downloads
    labels:
      - traefik.enable=true
      - traefik.http.services.qbt-service.loadbalancer.server.port=${QBT_WEBUI_PORT:-8080}
    ports:
      - ${QBT_LISTENPORT:-6881}:${QBT_LISTENPORT:-6881}
      - ${QBT_LISTENPORT:-6881}:${QBT_LISTENPORT:-6881}/udp
    networks:
      - proxy
    post_start:
      - command: chown -R 33:33 /config /downloads
        user: root

volumes:
  config:
  data:

networks:
  proxy:
    external: true
