services:
  forgejo:
    image: codeberg.org/forgejo/forgejo:9
    environment:
      - USER_UID=33
      - USER_GID=33
    restart: always
    labels:
      - traefik.enable=true
    networks:
      - internal
      - proxy
    volumes:
      - data:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - '${FORGEJO_SSH_PORT:-8022}:22'

volumes:
  data:

networks:
  proxy:
    external: true
  internal:
    external: true
