services:
  code:
    image: collabora/code
    restart: always
    environment:
      DONT_GEN_SSL_CERT: 1
      username: fengch
      password: 3u6cboo5kiCD
      extra_params: --o:ssl.enable=false --o:ssl.termination=true --o:remote_font_config.url=https://nextcloud.fengch.me:8443/apps/richdocuments/settings/fonts.json
    labels:
      - traefik.enable=true
      - traefik.http.routers.code.rule=Host(`${CODE_DOMAIN:-code.${DOMAIN:-localhost}}`)
      - traefik.http.routers.code.entrypoints=${CODE_ENTRYPOINTS:-}
      - traefik.http.services.code-service.loadbalancer.server.port=9980
    networks:
      - proxy

  app:
    build:
      context: ./images
      args:
        MIRROR: "https://mirrors.ustc.edu.cn"
    restart: always
    volumes: &app_volumes
      - type: tmpfs
        target: /tmp:exec
      - data:/var/www/html
    environment:
      - TZ=${TZ:-UTC}
      - MYSQL_HOST=db
      - MYSQL_USER=${NEXTCLOUD_DB_USER:-${COMPOSE_PROJECT_NAME}}
      - MYSQL_DATABASE=${NEXTCLOUD_DB_DATABASE:-${COMPOSE_PROJECT_NAME}}
      - NEXTCLOUD_ADMIN_USER=admin
      - PHP_MEMORY_LIMIT=2G
      - REDIS_HOST=redis
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - NEXTCLOUD_TRUSTED_DOMAINS=app ${NEXTCLOUD_DOMAIN:-${COMPOSE_PROJECT_NAME}.${DOMAIN:-localhost}}
      - NEXTCLOUD_ADMIN_PASSWORD=${NEXTCLOUD_ADMIN_PASSWORD}
      - OVERWRITEHOST=${NEXTCLOUD_OVERWRITEHOST:-${NEXTCLOUD_DOMAIN:-${COMPOSE_PROJECT_NAME}.${DOMAIN:-localhost}}}
      - OVERWRITECLIURL=${NEXTCLOUD_OVERWRITECLIURL:-${NEXTCLOUD_OVERWRITEPROTOCOL:-http}://${NEXTCLOUD_OVERWRITEHOST:-${NEXTCLOUD_DOMAIN:-${COMPOSE_PROJECT_NAME}.${DOMAIN:-localhost}}}}
      - OVERWRITEWEBROOT=${NEXTCLOUD_OVERWRITEWEBROOT:-}
      - OVERWRITECONDADDR=${NEXTCLOUD_OVERWRITECONDADDR:-}
      - OVERWRITEPROTOCOL=${NEXTCLOUD_OVERWRITEPROTOCOL:-http}
      - TRUSTED_PROXIES=${NEXTCLOUD_TRUSTED_PROXIES:-}
    labels:
      - traefik.enable=true
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}.rule=Host(`${NEXTCLOUD_DOMAIN:-${COMPOSE_PROJECT_NAME}.${DOMAIN:-localhost}}`)
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}.entrypoints=${NEXTCLOUD_ENTRYPOINTS:-${ENTRYPOINTS:-web}}
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}.middlewares=${COMPOSE_PROJECT_NAME}Headers@docker
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}Wellknown.rule=Host(`${NEXTCLOUD_DOMAIN:-${COMPOSE_PROJECT_NAME}.${DOMAIN:-localhost}}`) && PathPrefix(`/.well-known/caldav`, `/.well-known/carddav`)
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}Wellknown.entrypoints=${NEXTCLOUD_ENTRYPOINTS:-${ENTRYPOINTS:-web}}
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}Wellknown.middlewares=${COMPOSE_PROJECT_NAME}Headers@docker,${COMPOSE_PROJECT_NAME}Redirectregex0@docker
      - traefik.http.middlewares.${COMPOSE_PROJECT_NAME}Headers.headers.stsSeconds=15552000
      - traefik.http.middlewares.${COMPOSE_PROJECT_NAME}Redirectregex0.redirectregex.regex=^(.*)/\.well-known/(?:card|cal)dav
      - traefik.http.middlewares.${COMPOSE_PROJECT_NAME}Redirectregex0.redirectregex.replacement=$${1}/remote.php/dav
      - traefik.http.middlewares.${COMPOSE_PROJECT_NAME}Redirectregex0.redirectregex.permanent=true
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    networks:
      - default
      - admin_default
      - proxy

  go-vod:
    image: radialapps/go-vod
    restart: always
    init: true
    depends_on:
      - app
    environment:
      - NEXTCLOUD_HOST=${NEXTCLOUD_OVERWRITECLIURL:-${NEXTCLOUD_OVERWRITEPROTOCOL:-http}://${NEXTCLOUD_OVERWRITEHOST:-${NEXTCLOUD_DOMAIN:-${COMPOSE_PROJECT_NAME}.${DOMAIN:-localhost}}}}
      - NVIDIA_VISIBLE_DEVICES=all
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    volumes:
      - type: tmpfs
        target: /tmp:exec
      - data:/var/www/html:ro

volumes:
  data:

networks:
  proxy:
    external: true
  admin_default:
    external: true
