services:
  app:
    image: gitlab/gitlab-runner
    restart: always
    environment:
      - TZ=${TZ:-UTC}
    volumes:
      - ${CAFILE:-/etc/ssl/ca-bundle.pem}:/etc/gitlab-runner/certs/ca.crt:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - data:/etc/gitlab-runner

volumes:
  data:
