services:
  app:
    build:
      context: ./images
    extends:
      file: ../override.yml
      service: x-jellyfin
    restart: always
    volumes:
      - config:/config
      - ${DATA_PATH:-../data}/download:/media/download:ro
      - ${DATA_PATH:-../data}/tmp/jellyfin:/cache
      - ./fonts:/fonts:ro
    user: 33:33
    environment:
      - TZ=${TZ:-UTC}
    labels:
      - traefik.enable=true
      - name=jellyfin
      - traefik.http.services.app-${COMPOSE_PROJECT_NAME}.loadbalancer.server.port=8096
    networks:
      - proxy
    post_start:
      - command: chown -R 33:33 /config /cache
        user: root

volumes:
  config:

networks:
  proxy:
    external: true
