services:
  app: &base
    build: ./images
    restart: always
    volumes:
      - config:/config
      - /mnt/data/download:/media/download
      - /mnt/data/tmp/jellyfin:/cache
      - ./fonts:/fonts
      - type: tmpfs
        target: /tmp:exec
    user: 33:33
    environment:
      - TZ=Asia/Shanghai
    labels:
      - traefik.enable=true
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}.rule=Host(`${JELLYFIN_DOMAIN:-${COMPOSE_PROJECT_NAME}.${DOMAIN:-localhost}}`)
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}.entrypoints=${JELLYFIN_ENTRYPOINTS:-}
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}.tls.certresolver=zerossl
      - traefik.http.services.${COMPOSE_PROJECT_NAME}-service.loadbalancer.server.port=8096
    networks:
      - proxy
    profiles:
      - ""

  app-nvidia:
    <<: *base
    container_name: app
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    profiles:
      - nvidia

volumes:
  config:

networks:
  proxy:
    external: true
